.text-gradient{
  background: -webkit-linear-gradient(#df7b0a, #0ca53296);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn-grad {
  background-image: linear-gradient(to right, #0ca53296 0%, #df7b0a  51%, #0ca53296  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s !important;
  background-size: 200% auto;
  color: white !important;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.vh-75{
  height: 75dvh !important;
}

.h-screen{
  min-height: 100dvh !important;
}

.border-gradient{
  border-style: solid;
  border-image: linear-gradient(to bottom, #df7b0a, #0ca53296) 1 100% !important;
}